.comment-card {
    margin-right: 2em;
    margin-top: 2em;
    margin-bottom: 3em;
    max-height: 27em;
    overflow-y: auto;
    width: 100%
}

.comment-card .card-content{
    background-color: white;
    padding: 0.5em;
}

.comment{
    margin: 1em;
}

.comment-box{
    margin-left: 2em;
    margin-right: 2em;
    margin-top: 2em;
}

.comment-box label {
    font-family: 'Poiret One', cursive;
    font-weight: bold;
    color: black;
    font-size: 1.5em;
}

.input-box {
    height: 2.6em;
}

.comment .card-footer{
    color: black;
}

.comment .card-footer-item{
    border: none;
}
