.comment-card {
    margin-right: 2em;
    margin-top: 2em;
    margin-bottom: 3em;
    max-height: 27em;
    overflow-y: auto;
    width: 100%
}

.comment {
    margin-left: 7em;
}

.comment h3 {
    padding: 1.5em;
}

.comment-card h4 {
    font-family: 'Poiret One', cursive;
    font-weight: bold;
    color: white;
}

.comment-box{
    margin-left: 5em;
    margin-right: 2em;
    margin-top: 2em;
}

.comment-box label {
    font-family: 'Poiret One', cursive;
    font-weight: bold;
    color: black;
    font-size: 1.5em;
}

.input-box {
    height: 2.6em;
}