.article-card {
    margin-left: 4em;
    margin-right: 2em;
    margin-top: 5em;
    margin-bottom: 5em;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 0 1em;
    list-style: none;
}

.articles h1 {
    font-family: 'Vollkorn SC', serif;
    color: black;
    margin-left:0.5em;
    font-size: 2em;
    text-shadow: 2px 2px 4px rgba(195, 32, 32, 0.70);
}

.articles h2 {
    font-family: 'Poiret One', cursive;
    color: black;
    margin-left:1em;
}

.article {
    background-color: white;
    text-shadow: 2px 2px 4px rgba(195, 32, 32, 0.70);
    padding: 1em;
    margin-left: 6em;
    margin-right: 6em;
    margin-bottom: 5em;
    box-shadow: 0 7.5px 5px #777;
    border: solid 1px white;
}

.article:hover {
    box-shadow: 0 12px 10px #777;
    margin-bottom: 6em;
}

.article h1 {
    font-family: 'Vollkorn SC', serif;
    font-size: 1em
}

.article h3 {
    font-family: 'Poiret One', cursive;
    margin-left: 1em;
}