.Homepage .hero {
    background: url('http://cdn2.hubspot.net/hubfs/145335/blogging-for-business-heres-everything-you-need-to-know.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    margin-top:2em;
    font-size: 0.5em;
    
}

.hero-body .container {
    background-color: rgba(232, 222, 222, 0.39);
    padding: 2em;
    border-radius: 1em;
}

.Homepage{
    background-color: black;
    height:100%;
}   


.Homepage h1 {
    font-family: 'Vollkorn SC', serif;
    color: white;
    font-size: 4em;
    text-shadow: 2px 2px 4px black;
}

.Homepage h2 {
    font-family: 'Poiret One', cursive;
    color: black;
    font-weight: bold;
}

.button {
    background-color: black;
    color: white;
}

