
.single-article h1 {
    font-family: 'Vollkorn SC', serif;
    color: white;
    font-size: 2em;
    text-shadow: 4px 4px 3px black;
}

.single-article .card {
    margin: 6em;
    box-shadow: 0 7.5px 5px rgba(15, 14, 14, 0.70);
    background-color: rgba(39, 36, 36, 0.39);
    overflow-y: auto;
    max-height: 30em;
}

@media(max-width: 600px) {
    .single-article .card {
        margin: 1em;
        margin-top: 3.5em;
        max-height: 20em;
    }
}

.single-article .card .title {
    font-size: 1.25em;
    font-family: 'Times New Roman', Times, serif;
    color: white;
  
}

.card .fa-thumbs-up {
    color: green;
}

.card .fa-thumbs-down {
    color:  red;
}

.single-article {
    background-color: black;
    padding: 0.5em;
    background: url('https://s-media-cache-ak0.pinimg.com/originals/19/8f/0c/198f0c6a6d78576cf25a3936225856e3.jpg');
    background-size: cover;
}

.single-article .card-footer-item:not(:last-child) {
    border-right: none;
}

.single-article span {
    color: white;
}






