
.single-article h1 {
    font-family: 'Vollkorn SC', serif;
    color: white;
    font-size: 2em;
    text-shadow: 2px 2px 4px rgba(195, 32, 32, 0.70);
}

.card {
    margin: 6em;
    box-shadow: 0 7.5px 5px #777;
    border: solid 1px white;
}

.card .title {
    font-size: 1.25em;
    font-family: 'Times New Roman', Times, serif;
}

.card .fa-thumbs-up {
    color: green;
}

.card .fa-thumbs-down {
    color:  red;
}

.single-article {
    background-color: black;
}