.topics h1 {
    font-family: 'Vollkorn SC', serif;
    color: white;
    font-size: 4em;
    text-shadow: 2px 2px 4px rgba(195, 32, 32, 0.70);
}

.topics h2 {
    font-family: 'Poiret One', cursive;
}

.topics .column {
    display: inline-block;
    border: solid white;
    margin: 2em;
}

.topics .column h1 {
    font-size: 2em;
}

.topics img {
    background-size: cover;
}
